pytz
aiohttp
telethon
pymongo
pyPDF2
beautifulsoup4
html2text
flask
requests
dnspython
aiohttp
flask
python-dotenv==1.0.0
asyncio==3.4.3
gunicorn
google-generativeai==0.7.2
langdetect==1.0.9 
google-api-python-client
pytube
moviepy
